.Trivia {
  background-color: #e0e0e0;
  color: black;
  font-size: 18px;
  max-width: 430px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  margin: 200px auto;
}

.Trivia > div {
  min-height: 600px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

button {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 26px;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

.Welcome * {
  font-size: 26px;
  max-width: 280px;
}

.question {
  padding: 15px;
  border: 2px solid black;
  margin-top: auto;
}

.progress {
  margin-bottom: auto;
}
.answer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.answer button {
  padding: 15px;
  border: 2px solid black;
}

.answer button:hover {
  color: white;
  background: black;
}

.Results ul {
  display: block;
  margin: 0 15px;
  width: 100%;
}
.Results li {
  text-align: left;
  min-height: 40px;
  padding: 5px 0 0 0;
  gap: 30px;
  margin: 15px;
  padding-left: 50px;
  background-image: url(/public/images/check.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 40px;
}

.Results li.wrong {
  background-image: url(/public/images/cross.svg);
  opacity: .3;
}

.Results h4 {
  font-size: 18px;
}